#rightWrap{
    box-sizing: border-box;
    padding: 15px 15px 0 15px;
    position: absolute;
    top: 0;
    left: 146px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
.topbar{
    border-bottom:1px solid #ccc;
    padding: 0 0 15px 0;
    text-align: right;
}
.stars{
    color: red;
}